h1 {
    font-family: 'Turret Road', cursive;
    text-shadow: -6px 34px 32px rgba(255,0,0,1);
}
h2 {
    font-family: 'Cute Font', sans-serif;
    font-size: 40px;
    text-shadow: -6px 7px 4px rgba(0,0,0,0.54);
}
h3 {
 font-family: 'Pacifico', 'Pacifico', cursive;
    font-weight: lighter;
}
p {
    font-family: 'Pacifico', cursive;
}